.pic_login {
   opacity: 0;
    display: flex;
    justify-content: end;
    animation-duration: 3s; /* Скорость проигрывания - время завершения одного цикла */
    animation-name: slidein;
    animation-iteration-count: 1; /* Число итераций. В данном случае - бесконечно */
    animation-delay: 0s; /* Стоит 2 сек. после загрузки */
  }
  
  @keyframes slidein {  
     0%  { width: 0%;
           opacity: 0;} /* Начальная точка */
    
     100% { width: 130%;
            opacity: 1;} /* Конечная точка */
  }